main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
  background-color: rgb(246, 249, 229);
    
}
.report img{
    width: 600px;
    padding: 40px 0;
}
.report header{
    text-align: center;
    margin-top: 20px;
}

.report{
    padding-top: 100px;
}

@media (max-width: 818px){
    .report img{
        width: 90vw;
    }
}