@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Teko:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}

body {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --blue: rgb(3, 13, 39);
}

.homepage .container {
  max-width: 100vw;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 5px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(246, 249, 229);
  border-bottom: 1px solid black;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  z-index: 100;
  color: black;
}

.navbar.sticky {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar #titleTab {
  position: relative;
}

.navbar #logo {
  width: 200px;
  z-index: 400;
}

#li {
  width: 100%;
  list-style: none;
  display: inline-block;
  position: relative;
}

#li div {
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: blanchedalmond;
  transition: ease-in-out 0.5s;
}

#li #blue {
  background-color: rgb(119, 212, 255);
}

#li #pink {
  background-color: pink;
}
#li #green {
  background-color: rgb(106, 179, 106);
}

#li:hover div {
  width: 100%;
}

#li a {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  font-size: 17px;
  font-weight: 300;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar li {
  margin: 0 15px;
}

.info {
  position: absolute;
  bottom: 100px;
}

.info #bicycle {
  display: none;
}

.info-text {
  width: 100vw;
  background-color: rgb(246, 249, 229);
  padding: 50px 0;
  text-align: center;
}

.info-text h1 {
  font-size: 30px;
  color: black;
}

.info-text p {
  font-style: italic;
  margin-top: 10px;
}

#image {
  position: absolute;
  right: 0px;
  bottom: 0px;

  width: 100vw;
  height: 100%;
  z-index: -2;
  object-fit: cover;
}

#bars {
  color: black;
  font-size: 22px;
}

#navigation {
  display: none;
}

#button {
  width: 100px;
  height: 50px;
  position: relative;
}

#button button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
}

#button div {
  width: 0;
  height: 100%;
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: blanchedalmond;
  transition: width ease-in-out 0.5s;
}

#button:hover div {
  width: 100%;
}

#firstLetter {
  position: relative;
}

#times {
  display: none;
  color: white;
  font-size: 25px;
}

.mobileNavbar {
  display: none;
}

#linkTag {
  text-decoration: none;
  color: unset;
}
/* HOME PAGE */
@media (max-width: 1000px) {
  .info-text h1 {
    font-size: 50px;
  }

  #image {
    width: 60%;
    /* height: 50%; */
    object-fit: cover;
  }
}

@media (max-width: 860px) {
  #navbar {
    display: none;
  }

  #image {
    width: 100%;

    object-fit: cover;
  }

  .info {
    margin-top: 150px;
    text-align: center;
  }

  .info-text h1 {
    font-size: 25px;
  }

  /*  */

  .mobileNavbar {
    display: block;
    background-color: rgb(246, 249, 229);
    color: black;
    position: fixed;
    z-index: 1000;
    height: 100vh;
    top: 0;
    width: 300px;
    transform: translateX(-300px);
    transition: ease-in-out 0.5s;
    padding-left: 20px;
    border-right: 1px solid black;
  }

  #bars {
    cursor: pointer;
  }

  #navigation {
    display: block;
  }

  .mobileNavbar.active {
    /* display: block; */
    transform: translateX(0);
  }

  .mobileNavbar .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobileNavbar .xMark {
    font-size: 30px;
    color: black;
    
    transform: translateY(24px);
    margin-right: 15px;
    cursor: pointer;
  }

  .mobileNavbar #titleTab {
    position: relative;
    margin-top: 50px;
    /* left: -35px; */
  }

  .mobileNavbar #logo-img {
    width: 150px;
  }

  #button {
    display: none;
  }

  

  .mobileNavbar li {
    color: black;
    margin-top: 50px;
    letter-spacing: 0.5px;
    width: 230px;
    position: relative;
    cursor: pointer;
    transition: ease-in 0.5s;
    text-transform: capitalize;
  }


  .mobileNavbar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    margin-top: 50px;
  }

  .mobileNavbar .callNow {
    display: flex;
    align-items: center;
    /* margin-left: 30px; */
    margin-top: 50px;
  }

  .mobileNavbar .callNow .number {
    margin: 0 10px;
    color: black;
  }

  .mobileNavbar .number p:last-of-type {
    color: black;
    transition: ease-in-out 0.5s;
  }
}

@media (max-height: 700px) {
  .info {
    margin-top: 110px;
    position: absolute;
    padding: 0 40px;
  }
}
